/* Estilos para a caixa de mensagem */
body {
      background-image: url(imagens/8d486a87-1ff1-42e0-b61d-3f21b8f9efa2.jpg);
      
      height: 1000px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
.caixa-mensagem {
  width: 900px;
  padding: 100px;
  background-color: #FBE0B3;
  border: 7px solid #A54D23;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 70px;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para o botão */
.botao-prosseguir {
  padding: 10px 80px;
  background-color: #A54D23;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive;
  text-transform: uppercase;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/06/2023, 23:21:48
    Author     : migue
*/

