 body {
            font-family: "Comic Sans MS", cursive;
            background-color: #FBE0B3;
        }

        h1 {
            color: #A54D23;
            text-align: center;
            margin-top: 50px;
        }/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2023, 09:05:20
    Author     : alunos
*/

